# MongoDB Atlas Connection URI
MONGO_URI=mongodb://username:password@your-mongodb-cluster-uri/?ssl=true&replicaSet=atlas-shard-0&authSource=admin

# TMDB API Key
TMDB_API_KEY=your_tmdb_api_key_here

# RabbitMQ Server URL
RABBITMQ_URL=amqp://localhost

# API Gateway Port
PORT=3000

# AI Flask Server URL
AI_SERVER_URL=http://127.0.0.1:5000
